.container {
	border: 2px solid var(--accent-1);
	padding: 10px;
	margin: 10px;
	width: 500px;
	background-color: var(--secondary-bg);
	color: var(--text);
}

.projectvideo {
	margin-top: 20px;
	width: 460px;
	height: 250px;
}

.projectimg {
	margin-top: 20px;

	min-width: 200px;
	min-height: 200px;

	max-width: 460px;
	max-height: 220px;
}

.projectiframe {
	margin-top: 20px;
	width: 460px;
	height: 220px;
}
