.experienceBox {
	display: flex;
	flex-direction: row;

	align-items: center;

	background-color: var(--accent-2);
	padding: 10px;
}

.experienceDescriptionBox {
	min-height: 200px;
	background-color: var(--secondary-bg);
	padding: 10px 20px;
}

.experienceBox, .experienceDescriptionBox {
	min-width: 1200px;
	margin: 0px;
}

.experienceTitle {
	margin: 10px;
	font-size: 30px;
}

.experienceContainer {
	margin: 5px 150px;
}
