.gallery {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;

	margin: 10px;
	width: auto;
	height: auto;

	/*align-items: center;*/
	justify-content: center;
}

.title {
	color: var(--text);
}

.description {
	color: var(--text);
}
