.portfolio {
	width: 100%;
}

.gallery {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;

	width: 100%;
	height: auto;

	/*align-items: center;*/
	justify-content: center;
}

.title {
	font-size: 50px;
	margin: 10px 10px 5px 10px;
	color: var(--text);
}

.date {
	margin: 5px;
	color: var(--text);
}

.link, .altLink {
	color: var(--text);
	margin: 5px;
}

.projectDescription {
	color: var(--text);
	margin: 20px 90px 10px 90px;
}

.projectInfo {
	background-color: var(--secondary-bg);
	padding: 10px;
	margin: 50px 500px;
	border-radius: 5px;
	min-height: 300px;
}
