.intro {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	
	color: var(--text);
	margin: auto;
	width: 100%;
}

.sectionContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	margin: auto;
	height: 100vh;
	width: 100%;
	color: var(--text);
}

.introTitle {
	font-size: 6em;
	margin: 5px;
}

.introText {
	font-size: 1.5em;
	margin: 50px;
}

.pfp {
	height: 200px;
	width: 200px;
}

.skillsContainer {
	display: flex;
	flex-flow: row wrap;
	width: 50%;
	margin-left: auto;
	margin-right: auto;

	padding: 10px;

	background-color: var(--secondary-bg);
	border-radius: 20px;
}

.skillTitle {
	color: var(--text);
}
