.intro {
	display: flex;
	justify-self: center;
	color: var(--text);
	margin: auto;
	width: 60%;
}

.introtext {
	margin: auto;
}

.skillscontainer {
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	gap: 20px 20px;

	grid-template-columns: auto auto auto auto auto auto;

	padding: 10px;
}

.skilltitle {
	color: var(--text);
}
