.intro {
	display: flex;
	justify-self: center;
	color: var(--text);
	margin: auto;
	width: 60%;
}

.introtext {
	margin: auto;
}

.pfp {
	height: 200px;
	width: 200px;
}

.skillscontainer {
	display: flex;
	flex-flow: row wrap;
	width: 50%;
	margin-left: auto;
	margin-right: auto;

	padding: 10px;

	background-color: var(--secondary-bg);
	border-radius: 20px;
}

.skilltitle {
	color: var(--text);
}
