.header {
	overflow: hidden;
	/*position: fixed; Temporarily commenting this out, this is what makes it sticky but it won't stop hiding the start of the content*/
	width: 100%;
	top: 0px;
	z-index: 100;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 3.5rem;
	width: 100%;
	margin: 1rem;
}

.logo {
	text-decoration: none;
	color: var(--text);
	transition: color 0.4s;
	font-size: 1.25rem;
	/*font-family: var(--second-font);*/
}

.nav__toggle,
.nav__close {
	font-size: 1.5rem;
	color: var(--accent-1);
	cursor: pointer;
}

.nav__cta {
	background-color: var(--secondary-bg);
	color: var(--text);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	padding: 0.75rem 1.5rem;
}

.navlist {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	row-gap: 2.5rem;
}

.navitem {
	margin: 10px;
}

.menu {
	margin-right: 0px;
	margin-left: auto;
}

.navlink {
	text-decoration: none;
	color: var(--text);
	font-weight: 600;
	transition: color 0.4s;
}

.navlink:hover {
	color: var(--accent-1);
}

.nav__close {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
}

.show-menu {
	right: 0;
}
