.experienceBox {
	display: flex;
	flex-direction: row;
	padding: 10px;
	min-width: 1200px;

	align-items: center;

	background-color: var(--accent-2);
}

.experiencePosition, .experienceTitle, .experienceDate {
	margin: 10px;
}

.experiencePosition {
	font-size: 15px;
}

.experienceTitle {
	font-size: 30px;
}

.experienceDate {
	font-size: 15px;
}
