.box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	border-width: 2px;
	border-style: solid;
	border-color: var(--flamingo);
	border-radius: 25px;
	background-color: var(--bg);
	margin: 3px;
	padding: 10px 20px 10px 20px;
}

.skillimage {
	width: 35px;
	height: 35px;
}

.description {
	color: var(--text);
	margin: 0px 0px 0px 15px;
}
