.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

:root {
	--bg: #11111b;
	--secondary-bg: #181825;
	--base: #1e1e2e;
	--surface: #313244;
	--highlight: #9399b2;
	--text: #cdd6f4;
	--subtext: #bac2de;
	--lavendar: #b4befe;
	--flamingo: #f2cdcd;
}
